*{
    box-sizing: border-box;
}
.entireWrapper{
    max-width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    padding:5px 5px;
    /* padding: 10px; */
    /* flex-wrap: flex; */
    justify-content: center;


}
.lessnTable{
    width: 100%;
}
.search{
    /* width:100%; */
}
.titleWrapper{
    display: flex;
    flex-direction: row;
}
.titleWrapper:hover{
    cursor: pointer;
}
.header{
    color:white; 
        
    /* fontSize: '40px';   */
    background-color:#40a9ff;
    display: flex;
    justify-content:space-between;
    width:100%;
    padding:0 1rem;
    align-items: center;
}
.highlight{
    text-align: center;
    color:#40a9ff;
    margin:auto;
    padding: auto;
    font-weight: bold;
    animation-name: jump;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: both;
    /* animation-direction: alternate-reverse; */
}

@keyframes jump {
    0%, 20%, 50%, 70%, 100%{transform: translateY(13px);} 
    40% {transform: translateY(-2px);} 
    60% {transform: translateY(5px);}
    80% {transform: translateY(8px);}
    
}

@media screen and (max-width:769px) {
    .container{

        width: 100%;
        display:flex;
        flex-direction: column;
        
        
    }
    .search{
        width:100%;
    }
    .titleWrapper{
        flex-direction: column;
    }
    .header{
        color:white; 
        
        /* fontSize: '40px';   */
        background-color:#40a9ff;
        display: flex;
        justify-content:space-between;
        width:100%;
        padding:0 1rem;
        align-items: center;
    }
    .entireWrapper{
        width:100vw;
        height: 50px;
        max-width: 100%;
        background-color: red;
    }


    
}