.Wrapper{
    margin: auto;
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}
.title{
    text-align: center;
}

@media screen and (min-width:769px) {
    .Wrapper{
        max-width: 400px;
    }
    
}